# Αυτή η εντολή λέει στο Netlify να αγνοήσει τις αυστηρές συγκρούσεις εκδόσεων (peer dependencies)
# και να εγκαταστήσει τα πακέτα κανονικά (όπως κάναμε τοπικά με το --legacy-peer-deps).
legacy-peer-deps=true