@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";


/* Βασικά global styles (μπορείς να τα προσαρμόσεις αν θες) */
body {
  @apply m-0 font-sans antialiased text-gray-800 bg-gray-50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
